





 




<div class="row">
                   

    <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="single-feature text-center">

            <ng-container >

                <div class="card container" >
            
                    <br>
                    <h5>Bacteria:</h5>
                    <br>
                    
            
                    <div>
            
                        <strong>Coccals</strong>
                        <table style="margin-top: 10px;" class="table table-responsive table-bordered tabled">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>ID</th>
                                    <th>Familia</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let item of bacteria1">
                                
                                  <td class="tdspace">{{ item.Name }}</td>
                                  <td>{{ item.ID }}</td>
                                  <td class="tdspa">{{item.Parent}}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    <div>
                    
                        <strong>Bacilus</strong>
                        <table style="margin-top: 10px;" class="table table-responsive table-bordered tabled">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>ID</th>
                                    <th>Familia</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let item of bacteria2">
                                
                                  <td class="tdspace">{{ item.Name }}</td>
                                  <td>{{ item.ID }}</td>
                                  <td class="tdspa">{{item.Parent}}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    
                    <div>
                    
                        <strong>Spirillum</strong>
                        <table style="margin-top: 10px;" class="table table-responsive table-bordered tabled">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>ID</th>
                                    <th>Familia</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let item of bacteria3">
                                
                                  <td class="tdspace">{{ item.Name }}</td>
                                  <td>{{ item.ID }}</td>
                                  <td class="tdspa">{{item.Parent}}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
            
                    <div>
                    
                        <strong>Vibrio</strong>
                        <table style="margin-top: 10px;" class="table table-responsive table-bordered tabled">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>ID</th>
                                    <th>Familia</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let item of bacteria4">
                                
                                  <td class="tdspace">{{ item.Name }}</td>
                                  <td>{{ item.ID }}</td>
                                  <td class="tdspa">{{item.Parent}}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    
                    
                </div>
            </ng-container>
            
            
            
            
            
            

        </div>
    </div>

    <div class="col-md-7 col-sm-6 col-xs-12">
        <div class="single-feature text-center">
          
        </div>
        <br>
      
    </div>

    

</div>