




















   




<div class="row">
                   

    <div class="col-md-7 col-sm-6 col-xs-12">

        <div class="single-feature text-center">

            <ng-container >

                <div class="card container" >
            
                    <br>
                    <h5>Fungi:</h5>
                    <br>
                    
            
                    <div>
            
                        <strong>Basidiomycetes</strong>
                        <table style="margin-top: 10px;" class="table table-responsive table-bordered tabled">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>ID</th>
                                    <th>Familia</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let item of fungi1">
                                
                                  <td class="tdspace">{{ item.Name }}</td>
                                  <td>{{ item.ID }}</td>
                                  <td class="tdspa">{{item.Parent}}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    <div>
                    
                        <strong>Zygomicetes</strong>
                        <table style="margin-top: 10px;" class="table table-responsive table-bordered tabled">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>ID</th>
                                    <th>Familia</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let item of fungi2">
                                
                                  <td class="tdspace">{{ item.Name }}</td>
                                  <td>{{ item.ID }}</td>
                                  <td class="tdspa">{{item.Parent}}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    
                    <div>
                    
                        <strong>Ascomycetes</strong>
                        <table style="margin-top: 10px;" class="table table-responsive table-bordered tabled">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>ID</th>
                                    <th>Familia</th>
                                
                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let item of fungi3">
                                
                                  <td class="tdspace">{{ item.Name }}</td>
                                  <td>{{ item.ID }}</td>
                                  <td class="tdspa">{{item.Parent}}</td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                    
                    
                </div>
            </ng-container>
            
            

        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
    
        <div class="single-feature text-center">
         
        </div>

        <br>

      
    </div>

    

</div>


